body {
    padding-top: 30px
}

.admin-front .tb-admin,
.all-posts .tb-posts,
.admin-popular .tb-popular,
.admin-mine .tb-mine,
.admin-draft .tb-draft,
.admin-content .tb-addcontent,
.admin-categories .tb-categories,
.edit-profile .tb-editprofile,
.admin-import .tb-import,
.admin-backup .tb-backup,
.admin-config .tb-config,
.admin-clear-cache .tb-clearcache,
.admin-update .tb-update {
    background:#262627;
}

#toolbar {
    background: #262627;
    color: #CCC;
    font-family: sans-serif;
    left: 0;
    margin: 0 -20px;
    padding: 0 25px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6000;
    border: 0;
    font-size: 15px;
    text-align: left;
    vertical-align: baseline;
    min-height: 30px
}

#toolbar ul {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

#toolbar ul li, #toolbar ul li a {
    display:inline-block;
    list-style: none;
    margin: 0;
}

#toolbar a {
    color: #FFF;
    font-size: .846em;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 10px;
    line-height: 1.6;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
}

#toolbar a:hover {
    background-color: #343A40;
}

@media all and (max-width: 550px) {
    body {
        padding-top: 60px
    }
}

table#config td:first-child {
    width: 30%
}

table#config td:last-child {
    width: 70%
}

table#config input {
    width: 100%;
    box-sizing: border-box
}

table#config tr:last-child td {
    border-bottom: none
}